#!/usr/bin/env python3

import base64
import hashlib
import json
import os
from cryptography.fernet import Fernet, InvalidToken
from cryptography.hazmat.backends import default_backend


class Fernet256(Fernet):
    '''Not technically Fernet, but uses the base of the Fernet spec and uses AES-256-CBC
    instead of AES-128-CBC. All other functionality remains identical.
    '''
    def __init__(self, key, backend=None):
        if backend is None:
            backend = default_backend()

        key = base64.urlsafe_b64decode(key)
        if len(key) != 64:
            raise ValueError("Fernet key must be 64 url-safe base64-encoded bytes.")

        self._signing_key = key[:32]
        self._encryption_key = key[32:]
        self._backend = backend


def get_encryption_key(field_name, secret, pk=None):
    '''
    Generate key for encrypted password based on field name,
    secret, and instance pk (if available).
    :param pk: (optional) primary key of the model object
    '''
    h = hashlib.sha512()
    h.update(secret.encode('utf-8'))
    if pk is not None:
        h.update(str(pk).encode('utf-8'))
    h.update(field_name.encode('utf-8'))
    return base64.urlsafe_b64encode(h.digest())


def decrypt_value(encryption_key, value):
    raw_data = value[len('$encrypted$'):]
    utf8 = raw_data.startswith('UTF8$')
    if utf8:
        raw_data = raw_data[len('UTF8$'):]
    algo, b64data = raw_data.split('$', 1)
    if algo != 'AESCBC':
        raise ValueError(f'unsupported algorithm: {algo}')
    encrypted = base64.b64decode(b64data)
    f = Fernet256(encryption_key)
    value = f.decrypt(encrypted)
    if utf8:
        value = value.decode('utf-8')
    return value


# Read variables from environment
secret = os.getenv('AWX_SECRET_KEY') or ''
pk = os.getenv('AWX_PK')
name = os.getenv('AWX_NAME') or ''
field = os.getenv('AWX_FIELD') or ''
password = os.getenv('AWX_PASSWORD') or ''

# Decrypt
key = get_encryption_key(field, secret, pk)
pwd = decrypt_value(key, password)

# Output as JSON
data = {
    'id': pk,
    'name': name,
    'field': field,
    'password': pwd
}

print(json.dumps(data))
